@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container{
	max-width: 100%
}

.aboutBorder{
	background-color: #BBDEFB;
	height: 450px;
	margin: 0;
	margin-right: 0;
	padding: 0;
}

 .about {
 	font-size: 19px;
 	padding-top: 100px;
 	text-align: justify;
 	font-family: 'Montserrat', sans-serif;
 }

.about p {
 	color: #5F6366;
 	font-family: 'Montserrat', sans-serif;
 }

 img {
	width: 380px;
	height: 420px;
	margin-left: 15px;
}

 @media (min-width: 300px) and (max-width: 355px) {
 	
 	.about {
 		padding-top: 0px;
 		margin-left: 50px;

 		
 	}
 	
 	.about p {
 		font-size: 11px;
 		text-align: center;
 		margin-right: 48px;

 	}

 	h1 {
 		margin-left: 68px;
 		color: black;
 	}

 	img {
 		width: 150px;
 		height: 150px;
 		margin-left: 30%;
 		margin-top: 35px;
 	}
 }

 @media (min-width: 356px) and (max-width: 767px) {

 	.aboutBorder {
 			height: 420px;
 			width: 100%;
 
 	}

 	.about p {
 		font-size: 11px;
 		margin-right: 30px;
 	}

 	img {
 		width: 150px;
 		height: 150px;
 		margin-top: 130px; 
 	}
  
}

@media (min-width: 768px) and (max-width: 1024px) {

	.about p {
		font-size: 16px;
		margin-right: 50px;
	}

	img {
		height: 250px;
		width: 250px;
		margin-top: 100px;
		margin-left: 50px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {

	.about p {
  	font-size: 17px;
  }
  	.aboutBorder {
  		height: 500px;
  	}

  	img {
  		width: 250px;
  		height: 250px;
  		margin-top: 90px;
  		margin-left: 50px;
  	}

}
