.carousel-size {
	width: 500px;
	height: 500px;
	margin-top: 70px;
	
}

.paws-color {
	color: black;
	background-color: rgb(124,892,123, 0.6);
}

.seafood-color {
	color: black;
	background-color: rgb(238,283,293, 0.6);
}

.text-margin{
	margin-left: 80px;
}
