.carousel-size {
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.image-fluid{
	height: 0px
}

.carousel-caption h4 {
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: black;
	}

.paws-color {
	color: white;
	background-color: rgb(13,122,247, 0.7);
}

.seafood-color {
	color: black;
	background-color: rgb(238,283,293, 0.9);
}

.pokemon-color {
	color: black;
	background-color: rgb(238,283,293, 0.8);
}

.text-margin {
	margin-left: 80px;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15%;
}


@media (min-width: 300px) and (max-width: 480px) {
	.carousel-size {
		width: 300px;
		height: 300px;
	}

	.carousel-item {
		height: 30vh;
		text-align:center;
	}

	.carousel-caption{
		padding-bottom: 0px;
	}

	.carousel-caption h4 {
		font-size: 15px;
	}

	.carousel-caption p {
		text-align: center;
		font-size: 11px;
	}

	.carousel-indicators li {
		 width: 7px;
		 height: 7px;
		 border-radius: 100%;
		 
		}

	.img-position {
		margin-right: auto;
		margin-right: auto;
		margin: 0;
	}

	.img-carousel {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}

}
