.carousel-size {
	width: 500px;
	height: 500px;
	margin-top: 70px;	
}

.paws-color {
	color: black;
	background-color: rgb(124,892,123, 0.6);
}

.seafood-color {
	color: black;
	background-color: rgb(238,283,293, 0.6);
}

.text-margin {
	margin-left: 80px;
}


@media (min-width: 300px) and (max-width: 480px) {
	.carousel-size {
		width: 250px;
		height: 250px;
		text-align: center;
	}

	.carousel-item {
		height: 30vh;
		background: no-repeat center;
	}

	.carousel-caption{
		bottom: 10px;
	}

	.carousel-caption h4 {
		font-size: 17px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: black;
	}

	.carousel-caption p {
		margin: auto;
		font-size: 10px;
		width: 70%;
	}

	.carousel-indicators li {
		 width: 7px;
		 height: 7px;
		 border-radius: 100%;
		}


}


@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px)  {

}