.contactBorder{
	background-color: white;
	height: 200px;
}

 .about {
 	font-size: 19px;
 	text-align: justify;
 	padding-right: 90px;
 	color: white;
 }

 .contact {
 	font-size: 40px;
 }



 h1 {
 	padding-bottom: 0px;
 }

 @media (min-width: 300px) and (max-width: 480px) {
 	.contact {
 		font-size: 20px;
 	}

 	.content {
 		font-size: 12px;
 		padding-top: 0;
 	}

 	.logo-git {
 		width: 30px ;
 		height: 30px;
 	}

 	.logo-link {
 		width: 37px;
 		height: 37px;
 	}
 }