.contactBorder{
	background-color: #42A5F5;
}

.img-fluid {
	width: 45px;
	height: 50px;
}

 .about {
 	font-size: 19px;
 	text-align: justify;
 	padding-right: 90px;
 	color: white;
 }

 .contact {
 	font-size: 40px;
 }