@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

header {
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
}

header h1 {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 3.5rem;
	color: white;
	background-color: rgb(135, 206, 250,0.5);
}

header p {
	font-size: 1.75rem;
	font-weight: 700;
	font-style: italic;
	color: black;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(135, 206, 250,0.5);
	margin-left: 2em;
	margin-right: 2em;

}