@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.content {
	padding-top: 100px;
 	font-size: 19px;
 }

 p, h1 {
 	font-family: 'Montserrat', sans-serif;
 	font-size: 19px;
 	margin-top: 20px;
 }


 @media (min-width: 300px) and (max-width: 480px) {
 	
 	.text-size {
 		font-size: 11px;
 		text-align: center;
 		
 	}

 	.content {
 		padding-top: 15px;
 	}
 }