
.app, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", 
	monospace;
}


